.home-banner-img {
    width: 100%;
}

.home-container {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(./textile-home-pic.jpeg) no-repeat top center;

    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

.banner-text {
    display: flex;
    justify-content: center;
}

.banner-text h2 {
    align-items: center;
}